.page {
  background-image: linear-gradient(182deg, #364c7c96, #242e3b);
  max-width: 1360px;
  /* min-width: 100vw;
  width: fit-content; */
  min-height: 100vh;
  height: fit-content;
  /* padding: 10vh; */
  margin: 0 auto;
  color: #f3f3f3;
}
